<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/bower_components/bootstrap/dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/owl.carousel/dist/assets/owl.theme.default.css"
    />

    <link
      rel="stylesheet"
      href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Clown Clothing</title>
  </head>
</html>
