<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/bower_components/bootstrap/dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/owl.carousel/dist/assets/owl.theme.default.css"
    />

    <link
      rel="stylesheet"
      href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Clown Clothing</title>
  </head>
  <body>
    <div class="container">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5"
      >
        <a class="navbar-brand" href="#">Clown Clothing</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Women</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Childrem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cart</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">Specials</h4>
        </div>
      </div>

      <div class="owl-carousel owl-theme border">
        <div class="item">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/img5.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">T Shirt</h5>
              <p class="card-text">
                Price $20 .
              </p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/img4.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">T Shirt</h5>
              <p class="card-text">
                Price $20
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/img5.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Price $20
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/img4.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Price $20
              </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/img6.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Price $20
              </p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/img6.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Price $20
              </p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 p-4">
          <h2>Men`s Clothing & <a href="#"> more here</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="col-xs-2 shop growContainer">
                  <a
                    href="https://www.mrp.com/en_za/mens/shop-by-category/jackets/"
                    data-gtm-event="Campaign"
                    data-gtm-action="Landing Page"
                    data-gtm-label="01_2020wk18_mrp_ShopByCategory_Jackets"
                    ><img
                      src="http://mrpg.scene7.com/is/image/MRP/2020wk18_jackets_men?wid=190&amp;qlt=80&amp;fmt=png-alpha"
                      style="width: 100%;"
                    />
                    <p class="text-center p-2">JACKETS</p>
                  </a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-xs-2 shop growContainer">
                  <a
                    href="https://www.mrp.com/en_za/mens/shop-by-category/joggers-/"
                    data-gtm-event="Campaign"
                    data-gtm-action="Landing Page"
                    data-gtm-label="01_2020wk18_mrp_ShopByCategory_Accessories"
                    ><img
                      src="http://mrpg.scene7.com/is/image/MRP/2020wk18_joggers_men?wid=190&amp;qlt=80&amp;fmt=png-alpha"
                      style="width: 100%;"
                    />
                    <p class="shop-disc text-center">JOGGERS</p>
                  </a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-xs-2 shop growContainer">
                  <a
                    href="https://www.mrp.com/en_za/mens/shop-by-category/knitwear/"
                    data-gtm-event="Campaign"
                    data-gtm-action="Landing Page"
                    data-gtm-label="01_2020wk18_mrp_ShopByCategory_Sneakers"
                    ><img
                      class="img-fluid"
                      src="http://mrpg.scene7.com/is/image/MRP/2020wk18_knitwear_men?wid=190&amp;qlt=80&amp;fmt=png-alpha"
                      style="width: 100%;"
                    />
                    <p class="shop-disc text-center">KNITWEAR</p>
                  </a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-xs-2 shop growContainer">
                  <a
                    href="https://www.mrp.com/en_za/mens/shop-by-category/denim-jeans/"
                    data-gtm-event="Campaign"
                    data-gtm-action="Landing Page"
                    data-gtm-label="01_2020wk18_mrp_ShopByCategory_Sneakers"
                    ><img
                      src="http://mrpg.scene7.com/is/image/MRP/2020wk18_denim_men?wid=190&amp;qlt=80&amp;fmt=png-alpha"
                      style="width: 100%;"
                    />
                    <p class="shop-disc text-center">DENIM</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-4">
          <h2>Women`s Clothing & <a href="#"> more here</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="ProductBlocks">
                  <a
                    href="https://www.mrp.com/en_za/ladies/shop-by-category/leggings/"
                    data-gtm-event="Campaign"
                    data-gtm-action="Gender Page"
                    data-gtm-label="01_2020wk18_l_ShopByCategory_Leggings"
                  >
                    <div class="image-hover">
                      <img
                        class="aspectHack zoom image"
                        alt=""
                        src="https://www.mrp.com/media/wysiwyg/2020Promos/2020wk18/gender/ladies/wk18_LEGGINGS.jpg"
                      />
                    </div>
                  </a>
                  <div>
                    <a
                      href="https://www.mrp.com/en_za/ladies/shop-by-category/leggings/"
                      data-gtm-event="Campaign"
                      data-gtm-action="Gender Page"
                      data-gtm-label="01_2020wk18_l_ShopByCategory_Leggings"
                    >
                      <h4>LEGGINGS</h4>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="ProductBlocks">
                  <a
                    href="https://www.mrp.com/en_za/ladies/shop-by-category/active-tops-hoodies/"
                    data-gtm-event="Campaign"
                    data-gtm-action="Gender Page"
                    data-gtm-label="01_2020wk18_l_ShopByCategory_ActiveTops"
                  >
                    <div class="image-hover">
                      <img
                        class="aspectHack zoom image"
                        alt=""
                        src="https://www.mrp.com/media/wysiwyg/2020Promos/2020wk18/gender/ladies/wk18_ACTIVETOPS.jpg"
                      />
                    </div>
                  </a>
                  <div>
                    <a
                      href="https://www.mrp.com/en_za/ladies/shop-by-category/active-tops-hoodies/"
                      data-gtm-event="Campaign
                            "
                      data-gtm-action="Gender Page"
                      data-gtm-label="01_2020wk18_l_ShopByCategory_ActiveTops"
                    >
                      <h4>ACTIVE TOPS</h4>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="ProductBlocks">
                  <a
                    href="https://www.mrp.com/en_za/ladies/shop-by-category/active-tops-hoodies/"
                    data-gtm-event="Campaign"
                    data-gtm-action="Gender Page"
                    data-gtm-label="01_2020wk18_l_ShopByCategory_ActiveTops"
                  >
                    <div class="image-hover">
                      <img
                        class="aspectHack zoom image"
                        alt=""
                        src="https://www.mrp.com/media/wysiwyg/2020Promos/2020wk18/gender/ladies/wk18_ACTIVETOPS.jpg"
                      />
                    </div>
                  </a>
                  <div>
                    <a
                      href="https://www.mrp.com/en_za/ladies/shop-by-category/active-tops-hoodies/"
                      data-gtm-event="Campaign
                            "
                      data-gtm-action="Gender Page"
                      data-gtm-label="01_2020wk18_l_ShopByCategory_ActiveTops"
                    >
                      <h4>ACTIVE TOPS</h4>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="ProductBlocks">
                  <a
                    href="https://www.mrp.com/en_za/ladies/shop-by-category/dresses/"
                    data-gtm-event="Campaign"
                    data-gtm-action="Gender Page"
                    data-gtm-label="01_2020wk18_l_ShopByCategory_Dresses"
                  >
                    <div class="image-hover">
                      <img
                        class="aspectHack zoom image"
                        alt=""
                        src="https://www.mrp.com/media/wysiwyg/2020Promos/2020wk18/gender/ladies/wk18_DRESSES.jpg"
                      />
                    </div>
                  </a>
                  <div>
                    <a
                      href="https://www.mrp.com/en_za/ladies/shop-by-category/dresses/"
                      data-gtm-event="Campaign"
                      data-gtm-action="Gender Page"
                      data-gtm-label="01_2020wk18_l_ShopByCategory_Dresses"
                    >
                      <h4>DRESSES</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 10,
          nav: true,
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 3,
            },
            1000: {
              items: 5,
            },
          },
        });
      });
    </script>
  </body>
</html>
